{{ if and .Site.Params.enablePostNav (in .Site.Params.mainSections .Section) }}
    {{ if .Site.Params.postNavInSection }}
        {{ .Scratch.Set "prev" .PrevInSection }}
        {{ .Scratch.Set "next" .NextInSection }}
    {{ else }}
        {{ .Scratch.Set "prev" .PrevPage }}
        {{ .Scratch.Set "next" .NextPage }}
    {{ end }}
    {{ $prev := .Scratch.Get "prev" }}
    {{ $next := .Scratch.Get "next" }}
    {{ if or $prev $next }}
    <div class="pagination">
      {{if $prev}}
        <a class="pagination__item" href="{{.PrevInSection.Permalink}}">
          <span class="pagination__label">Previous Post</span>
          <span class="pagination__title">{{$prev.Title}}</span>
        </a>
      {{end}}

      {{if $next}}
        <a class="pagination__item" href="{{.NextInSection.Permalink}}">
          <span class="pagination__label">Next Post</span>
          <span class="pagination__title" >{{$next.Title}}</a>
        </a>
      {{end}}
    </div>
    {{ end }}
{{ end }}
